@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* Special rules to fill the circle in the Score Radial component */
/* Those rules are not handled by Recharts yet */
.recharts-polar-angle-axis circle {
    fill: white;
    r:75;
}

.bg-red-project {
    background-color: #FF0000;
}

.weight-circle::after, .calorie-circle::after {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    position: absolute;
    left: 0;
}

.weight-circle::after{
    background-color: #282D30;

}

.calorie-circle::after {
    background-color: #FF0000;
}

/* Toggle on Home Page */

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #282D30;
    display: block;
    border-radius: 100px;
    position: relative;
}
  
label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.15s;
}
  
input:checked + label {
    background: #FF0000;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}


/* End toggle on Home Page */