@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* Special rules to fill the circle in the Score Radial component */
/* Those rules are not handled by Recharts yet */
.recharts-polar-angle-axis circle {
    fill: white;
    r:75;
}

.bg-red-project {
    background-color: #FF0000;
}


.weight-circle::after, .calorie-circle::after {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    position: absolute;
    left: 0;
}
.weight-circle::after{
    background-color: #282D30;

}

.calorie-circle::after {
    background-color: #FF0000;
}