@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.recharts-polar-angle-axis circle {
    fill: white;
    r:75;
}